<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message book</title>
  <!-- 
    ⚠️注意：在服务端中，文件中的路径不要再写相对路径了，因为这个时候所有的资源都是通过 url 标识来获取的。
    这个服务器开放了 /public/目录，所以这里的请求的路径都写成: /public/xxx。
    `/`在这里就是 url 根路径的意思，浏览器在真正发请求的时候最终会把 http://localhost:3000 拼上。
    不要再想文件路径了，把所有的路径都想象成 url 地址。
   -->
  <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">留言簿</a>
    </nav>
    <a class="btn btn-primary btn-lg btn-block" href="/post" role="button">发表留言</a>
  </div>
  <div class="container">
    <ul class="list-group">
      {{each comments}}
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            {{ $value.user }}
          </div>
          <div class="col-7">
            {{ $value.msg }}
          </div>
          <div class="col">
            {{ $value.date }}
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <script src="/public/js/main.js"></script>
</body>
</html>
